---
import { PROJECTS } from '../constants/proyectos'
---

{
    PROJECTS.map((elem, index) => {
        return (
            <section>
                <h3>{elem.title}</h3>
                <p>{elem.description}</p>
                <img src={elem.image} alt={elem.image_src}>
                <div>
                    <a href={elem.demo}>Ver</a>
                    <a href={elem.code}>Código</a>
                </div>
            </section>
            )
        }
    )
}